body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

nav{
  background-color: #e0ebe8;
  position: relative;
}
.nav-item{
  padding: 20px;
}

h1{
  font-size: 562.5%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #45b29a;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #1e836c;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
h5{
  width: 75%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 2em;
}

hr{
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  border-style: dotted none none;
  width: 1%;
  border-width: 6px;
  border-color: #EAF6F6;
}
.top-container{
  padding: 160px;
  background-color: #e0ebe8;
  position: relative;
}
.middle-container{
  margin-top: 100px
}
.cloud-two{
  position: absolute;
}
.cloud-one{
  padding-top: 40px;
  position: absolute;
  right: 300px;
  top: 40px;
}
/* hr{
  border-style: dotted;
  width: 30%;
} */

.skills-table{
  margin-left: 475px;
}
td {
    padding: 15px;
    text-align: left;
}
.hello{
  padding-top: 1%;
}

.btn{
  margin: 10px;
  background: #45b29a;
  color: #fff;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  /* background-image: linear-gradient(to bottom, #11cdd4, #11999e); */
}
.btn:hover{
  background-color: #1e836c;
  color: #fff;

}
#carouselExampleControls{
  text-align: center;
  background-color: #7dcc93;
  /* margin: 10% none none; */

}
.carousel-item{
  color: #fff;
  padding: 3% 15%;
}
.test-img{
  padding: 30px;
}
.footer{
  margin-top: 40px;
  background-color: #c5ded7;
  padding: 40px;
}
a {
    color: #45b29a;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
a:hover
{
  color:#000000;
}

.fab{
  height: 20%;
}
.middle-container{
  padding-top: 25px;
}
